.cases {
    
}

.content-padding {
    padding: 12px;
}

.box-image-empty {
    background-color: #ddd;
    width: 100%;
    height: 200px;
}

.text-bold {
    font-weight: bold;
}

.scroll {
    height: 100%;
}

#route-map {
    width: 100%;
    height: 100%;
}

.box-content-map {
    width: 100%;
    height: 400px;
}

.box-content-mesage {
    padding: 10px;
}

.text-center {
    text-align: center;
}

.box-green {
    padding: 10px;
    width: 100%;
    height: 70px;
    background-color: green;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.box-yellow {
    padding: 10px;
    width: 100%;
    height: 70px;
    background-color: yellow;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.box-red {
    padding: 10px;
    width: 100%;
    height: 70px;
    background-color: red;
    color: mintcream;
    text-align: center;
    margin-bottom: 10px;
}