.cases {
    background-color: #fcfaf7;
}

#mapAllCases {
    width:100%;
    height:100%;
}

.content-padding {
    padding: 12px;
}

.box-image-empty {
    background-color: #ddd;
    width: 100%;
    height: 200px;
}

.text-bold {
    font-weight: bold;
}

.scroll {
    height: 100%;
}

#route-map {
    width: 100%;
    height: 100%;
}

.box-content-map {
    width: 100%;
    height: 400px;
}

.box-content-mesage {
    padding: 10px;
}

.text-center {
    text-align: center;
}

.box-green {
    padding: 10px;
    width: 100%;
    height: 70px;
    background-color: #DFF0D8;
    border-bottom: 2px solid #cef4be;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.box-yellow {
    padding: 10px;
    width: 100%;
    height: 70px;
    background-color: #FCF8E3;
    border-bottom: 2px solid #fcf0b5;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.box-red {
    padding: 10px;
    width: 100%;
    height: 80px;
    background-color: #F2DEDE;
    border-bottom: 2px solid #fcb0b0;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}

#legend-all-cases {
  background: white;
  padding: 10px;
  top: 5px !important;
  right: 5px !important;
}
.display-flex-all {
  display: flex;
}
.legend-box-all {
  width: 10px;
  height: 10px;
  border: 1px solid;
  margin-top: 2px;
  margin-right: 5px;
}

.div-list {
    margin: 20px;
}

.div-list h2 {
    font-size: 18px;
    color: #fc7202;
    font-weight: 600;
}