#picture img {
    width: 40%;
    height: 40%;
    border-radius: 25px;
}

#pic {
    height: 56px;
}

#close {
    position: absolute;
    height: 12%;
    width: 4%;
    top: 8px;
    right: 16px;
}